
<div class="jumbotron">
  <h1 class="display-4">
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
  <p class="lead">
    @<%= @user.twitter %>
  </p>
  <%= link_to "Show", @user, class:"btn btn-secondary" %>
  <%= link_to 'Delete', @user, method: :delete, data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to "Back", users_path, class:"btn btn-dark" %>
</div>
