<div class="card">
  <div class="card-header">
    <h4>Log in</h4>
  </div>

  <div class="card-body">
    

    <!-- See bug in https://stackoverflow.com/questions/66615478/turbo-rails-with-devise-does-not-redirect-consistently-rails-6-1-3-devise-4-7-3 -->
    <%= form_for(resource, as: resource_name, html: {'data-turbo' => "false"}, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<br>

<!-- <%= render "devise/shared/links" %> -->
